# Dependency directoriesnode_modules/BE-WebKampus/node_modules/# Environment files.env# Logslogs*.lognpm-debug.log*# Backup files*.bak*.gho*.ori*.orig*.tmp# Database files*.sqlite*.db# Miscellaneous.DS_StoreThumbs.db
